<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="SessionFilesPath" value="C:\Users\ashim\Desktop\Nesher Projects\One1_Kneset\Kneset_terminal\Kneset_terminal\SessionFiles.xml"/>
    <add key="NewsFilePath" value="C:\Users\ashim\Desktop\Nesher Projects\One1_Kneset\news.txt"/>
    <add key="kneset_Interval"   value="5000"/>
    <add key="WriteDevice"   value="3451"/>
  </appSettings>

  <!--סביבת ONE -->
  <connectionStrings>
    <add name="kneset_connection_String"
    connectionString="data source=knsttest;User ID=VOTES;password=KNST123"/>

    <!--סביבת אמת -->
    <add name="kneset_connection_String_emet"
  connectionString="data source=votes;User ID=VOTES;password=KNST123"/>


  </connectionStrings>
</configuration>