<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="kneset_connection_String"
           connectionString="data source=knsttest;User ID=VOTES;password=KNST123"/>
    <add name="kneset_connection_String_emet"
            connectionString="data source=votes;User ID=VOTES;password=KNST123"/>
  </connectionStrings>
  <appSettings>

    <add key="kneset_inDebug"
    value="false"/>
    <add key="kneset_threadNumber"
       value="1"/>
    <add key="kneset_Interval"
    value="5000"/>

    <add key="HDate_sDeviceNameWrite"
    value="3000"/>
    <add key="HDate_dateFormat"
    value= "dddd d בMMM y"/>
    <add key="HDate_length"
    value="26"/>

    <add key="HMemberName_sDeviceNameWrite"
    value="3030"/>
    <add key="HMemberName_length"
    value="19"/>

    <add key="HfrontMemberName_sDeviceNameWrite"
      value="3050"/>
    <add key="HfrontMemberName_length"
      value="64"/>

    <add key="meliaa_sDeviceNameRead"
        value="3000"/>
    <add key="meliaa_sDeviceNameWrite"
       value="6600"/>
    <add key="meliaa_screenTriger"
       value="397"/>
    <add key="meliaa_speakersWrite1"
       value="133"/>
    <add key="meliaa_LineLength"
    value="38"/>
    <add key="meliaa_NumLines"
    value="17"/>

    <add key="messages_sDeviceNameRead"
 value="3000"/>
    <add key="messages_sDeviceNameWrite"
    value="7000"/>
    <add key="messages_screenTriger"
    value="497"/>
    <add key="messages_LineLength"
    value="46"/>
    <add key="messages_NumLines"
    value="21"/>

    <add key="vote_sDeviceNameRead"
    value="3000"/>
    <add key="vote_sDeviceNameWrite"
    value="6300"/>
    <add key="vote_voteWrite1"
   value="147"/>
    <add key="vote_screenTriger"
    value="297"/>
    <add key="vote_LineLength"
    value="42"/>
    <add key="vote_NumLines"
    value="13"/>

    <add key="speakers_sDeviceNameRead"
    value="3000"/>
    <add key="speakers_sDeviceNameWrite"
    value="6000"/>
    <add key="speakers_screenTriger"
    value="297"/>
    <add key="speakers_speakersWrite1"
    value=" 0"/>
    <add key="speakers_LineLength"
    value="34"/>
    <add key="speakers_NumLines"
    value="17"/>

    <add key="results_sDeviceNameRead"
    value="3000"/>
    <add key="results_sDeviceNameWrite"
    value="3500"/>
    <add key="results_screenTriger"
    value="1497"/>
    <add key="results_LineLength"
    value="54"/>
    <add key="results_NumLines"
    value="55"/>
    <add key="results_spaceNum"
    value="2"/>

  </appSettings>


</configuration>