<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="SessionFilesPath" value="C:\Users\ashim\Desktop\Nesher Projects\One1_Kneset\Kneset_terminal\Kneset_terminal\SessionFiles.xml"/>
    <add key="NewsFilePath" value="C:\Users\ashim\Desktop\Nesher Projects\One1_Kneset\news.txt"/>
    <add key="kneset_inDebug" value="true"/>
    <add key="kneset_Interval"   value="5000"/>
  </appSettings>

  <!--סביבת ONE -->
  <connectionStrings>
    <add name="kneset_connection_String"
    connectionString="data source=knsttest;User ID=VOTES;password=KNST123"/>

    <!--סביבת אמת -->
    <add name="kneset_connection_String_EMET"
  connectionString="data source=knsttestEmet;User ID=VOTES;password=KNST123"/>


  </connectionStrings>
</configuration>